.start{
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111111;
    z-index: 200;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    font-weight: 700;
    font-size: 32px;
    box-sizing: border-box;

}
.hide{
    display: none;
}
.game{
    height: 900px;
    position: relative;
}
.car, .enemy{
    width: 50px;
    height: 100px;
    background-image: url("image/player.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.gameArea{
    width: 300px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #6F7888;
    overflow: hidden;
}
.line{
    position: absolute;
    width: 10px;
    height: 45px;
    background-color: #ffffff;
    left: 145px;
}
.score{
    background-color: #111111;
    z-index: 200;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    font-weight: 700;
    font-size: 32px;
    box-sizing: border-box;
}


@media (max-width: 960px){
.gameArea{
    width: 100vw;
}
.car, .enemy{
    width: 100px;
    height: 150px;
    }

}
