.start{
    cursor: pointer;
}
.hide{
    display: none;
}
.car{
    width: 120px;
    height: 220px;
    background-image: url("image/player.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}